[Unit]
Description={{ docker_compose_service_name }}

Requires=docker.service
After=docker.service

[Service]
Type=simple

WorkingDirectory={{ docker_compose_service_basedir }}

ExecStartPre={{ docker_compose_executable }} rm --force
ExecStart={{ docker_compose_executable }} up

Restart=on-failure

[Install]
WantedBy=multi-user.target
