[Unit]
Description={{ docker_compose_service_name }}

Requires=docker.service
After=docker.service

[Service]
Type=simple

WorkingDirectory={{ docker_compose_service_basedir }}

ExecStartPre=/usr/local/bin/docker-compose rm --force
ExecStart=/usr/local/bin/docker-compose up

Restart=on-failure

[Install]
WantedBy=multi-user.target
